/* .heading{
  text-align: center;
  text-transform: uppercase;
  color:crimson;

}
.title{
  font-size: 15px;
  font-weight: bold;
}
.products{
  display :flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:4rem;
  padding:30px;
}
.image{
  height: 200px;
  width:200px;
  object-fit: cover;
}
.container{
  width:250px;
  
} */

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Kaushan+Script&family=Oleo+Script+Swash+Caps:wght@700&family=Pacifico&family=Poppins:ital,wght@0,300;1,200&family=Quintessential&family=Roboto+Slab:wght@300&family=Roboto:wght@100&display=swap');
*{
  padding :0;
  margin:0;
}
body{

}
.header{
  width:100%;
  height:80px;
  background-color:rgba(0, 0, 0, 0.778) ;
  display:flex;
  justify-content: space-around;
  align-items: center;
  color:whitesmoke;
  font-family: 'Edu NSW ACT Foundation', cursive;
  /* position:fixed;
  top:0; */
  
}
.search input{
  border:none;
  height:30px;
  width:300px;
  text-align: center;
}
.card{
  width:300px;
  height:480px;
  padding-top: 20px;
  text-align: center;
  font-family: 'Edu NSW ACT Foundation', cursive;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.content{
  display:flex;
  flex-wrap: wrap;
  gap:1rem;
  padding:50px;
  justify-content: space-between;
}
.title{
 padding:15px;
}
.rating{
  padding:15px;
}